@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: RobotoMono, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    margin: 0;
    color: white;
    /* overflow: hidden; */
}

header {
    background-color: #272343;
    padding: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #272343;
    padding: 10px 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Centre verticalement les éléments */
    height: 100%; /* Ajuste la hauteur de la liste pour centrer verticalement */
}

nav li {
    margin-right: 5%;
    margin-left: 5%;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #376e6d;
}


table,
th,
td {
    border: 1px solid;
}

td {
    text-align: center;
    width: 300px;

}

td li {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(112, 126, 146, 1), rgba(39, 35, 67, 0.11));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.angle {
    position: absolute;
    width: 420px;
    height: 330px;
    background-image: url('../images/angle.png');
    background-size: cover;
}

.top-left {
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.responsive-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    position: relative;
    z-index: 1;
}

.presentation {
    text-align: center;
    max-width: 800px;
    padding-bottom: 80px;
}

.title {
    margin-top: 10px;
    font-size: 64px;
    margin-bottom: 40px;

}

.description {
    font-size: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row wrap;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.details {
    flex-grow: 1;
    flex-basis: calc(33.33% - 20px);
    border-radius: 10px;
    background-color: #2723439b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    max-width: calc(100% - 20px);
    min-width: none;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .details {
        flex-basis: calc(100% - 20px);
        max-width: none;
    }
}

.sub-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #272343;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.title-solfezicon {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.space {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.space2 {
    padding: 10px;
    font-size: 20px;
}   

.boutonJouer {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: none;
    border-radius: 100px;
    background-color: #E3F6F5;
    color: #272343;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.boutonJouer:hover {
    background-color: #272343;
    color: white;
}

button:hover {
    background-color: #272343;
    color: white;
}
button {
    font-size: 20px;
}

.boutonJouer {
    margin-top: 10%;
}

.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 800px;
    padding-bottom: 40px;
    z-index: 2;
}

.team-member {
    text-align: center;
    max-width: 180px;
    min-width: 180px;
    margin: 30px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: #2723439b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.team-member img {
    max-width: 140px;
    min-width: 139px;
    max-height: 170px;
    min-height: 170px;
    border-radius: 50%;
}

.team-member h2 {
    font-size: 24px;
    margin: 10px 0;
}

.team-member p {
    font-size: 16px;
    color: white;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

#montee-de-version {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: raw;
    padding-top: 60px;
}

.explication {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    /* background-color: #272343; */
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
}

.project-container #responsive {
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.project-container img {
    padding: 20px;
}

.project-container img {
    max-width: 100%;
    margin: 10px;
}

.github-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.github-container a {
    text-decoration: none;
    /* background-color: #E3F6F5; */
    background-color: #a19db7bf;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: #272343;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.icon1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.github-container a:hover {
    background-color: #272343;
    color: white;
}

#accueil {
    scroll-margin-top: 60px;
}

#equipe {
    scroll-margin-top: 60px;
}

#project {
    scroll-margin-top: 60px;
}

#comparaion {
    scroll-margin-top: 60px;
}

#github {
    scroll-margin-top: 60px;
}

.header {
    display: none;
}

@media screen and (max-width: 450px) {
    .title{
        font-size: 35px;
    }
    .navbar {
        display: none;
    }

    .header {
        display: block;
    }

    .header input {
        width: 50px;
        height: 50px;
    }

    .menu-container {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        background-color: #272343;
    }

    .menu-container.active {
        max-height: 300px;
        border-radius: 0px 0px 30px 30px;
        color: #000000;
    }

    .nav_list {
        list-style: none;

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .nav__item {
        margin: 10px 0;
        color: #000000;
    }

    .nav__link {
        color: #ffffff;

        text-decoration: none;
        transition: color 0.3s ease-in-out;

    }

    .nav__link:hover {
        color: #7AAAEB;

    }

    .header .menu-container .nav_list {
        list-style: none;

        padding: 0;

    }

    .header .menu-container .nav_list .nav__item {
        border-bottom: 1px solid #ccc;

        padding: 10px;

    }

    .header .menu-container .nav_list .nav__item:last-child {
        border-bottom: none;

    }


    .header .menu-container .nav_list .nav__item:hover {
        background-color: #f0f0f0;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background: #272343;
        align-items: center;
        /* margin-block-end: 10px; */
        margin-right: 20px;
    }

    .menu label {
        padding: 20px;
    }

}


/* MODAL */
.ouvrirModal {
    background-color: #a19db7bf;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color:#000000;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    max-width: 50vw;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow-y: auto;
    max-height: 80vh;
}

.fermerModal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.img-modal{
    max-width: 10vw;
  }

.modal-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.description-modal{
    color: #000000;
    display: flex;
    width: 30vw;
    text-align: justify;
}

.button-link {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.button-link a {
    margin-right: 10px; 
}

.button-link a:last-child {
    margin-right: 0; 
}
  
@media screen and (max-width: 450px) {
    .description-modal{
        width: 90%;
    }
    .modal-content{
        max-width: 90%;
        width: 90%;
        text-align: left;
    }
}
